/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #2d3a35;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 35px;
}
.description {
  color: #53665e;
  font-size: 21px;
  font-family: 'Roboto';
}
.count {
  color: #c20a72;
}
.button {
  background-color: #007bff;
  color: white;
  font-family: 'Roboto';
  border-width: 0px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
